button,
.button {
	font-family: 'EB Garamond', serif;
	background: #85bd9a;
	box-sizing: border-box;
	border-radius: 4px;
	font-size: 24px;
	height: 50px;
	padding: 8px 15px;
	cursor: pointer;
	color: white;
	transition: background-color 0.3s, border 0.3s, color 0.3s;
	margin: 10px 10px 0px 10px;
	border-color: !important;
}

button:hover,
.button:hover {
	background: #ccedd2;
}

button.primary {
	background: #85bd9a;
	color: white;
	padding: 14px 20px;
	font-size: 16px;
	border-radius: 4px;
	border: none;
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
}

button.secondary:hover {
	background: #1a5320;
}

button.cancel,
.button.cancel {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 14px;
	text-align: center;
	box-sizing: border-box;
}

button.full {
	width: 100%;
	font-weight: bold;
}

.centerbutton {
	text-align: center;
}
