button,
.button {
	font-family: 'Pacifico';
	margin: 1.5em;
	padding: 2em;
	background: #ccedd2;
}

button:hover,
.button:hover {
	background: #ccedd2;
}

/* hero-img search bar */
FormControl > .searchbar {
	width: 110%;
}

/*



button.primary {
	background: #85bd9a;
	color: white;
	padding: 14px 20px;
	font-size: 16px;
	border-radius: 4px;
	border: none;
	display: inline-block;
	text-decoration: none;
	box-sizing: border-box;
	vertical-align: top;
	text-align: center;
}

button.secondary:hover {
	background: #1a5320;
}

button.cancel,
.button.cancel {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 14px;
	text-align: center;
	box-sizing: border-box;
}

button.full {
	width: 100%;
	font-weight: bold;
}

.centerbutton {
	text-align: center;
} */
