.grid {
  display: grid;
}

.grid.two {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  /* padding: 10px; */
}

.grid.form {
  width: 600px;
  height: 700px;
  padding: 30px;
  border-radius: 3px;
}
.grid .autoheight {
  height: 720px;
}

.grid.titlespot {
  margin: 30px;
}

.transparent {
  background-color: rgba(255, 255, 255, 0.85);
  margin-top: 30px;
}

.whitebackground {
  background-color: white;
  margin-top: 30px;
}

.grid.center {
  justify-content: center;
}

/* .grid.sidebar-left {
  grid-template-columns: 200px auto;
  grid-column-gap: 0px;
} */

.gridheading {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10px;
}

.grid.twospots {
  grid-template-columns: 3fr 2fr;
}

/* //gallleryyy */

.gallery {
  border-bottom: 1px solid #e2e2e2;
  background-color: white;
  padding: 20px;
}

.gallery .image-main {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.gallery .image-main button {
  height: 30px;
}

.gallery .thumbnails {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: rgba(255, 255, 255);
  margin-top: 30px;
}

.gallery .thumbnail {
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  transition: opacity 0.3s;
}

/* .grid.scroll {
  overflow-y: auto;
  height: calc(100vh - 142px); /* subtract nav & filter */
/* } */

.grid.twocards {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 12px;
  grid-row-gap: 15px;
  margin: 30px 15px 0px -30px;
  overflow: hidden;
}

.grid.three {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  padding: 60px;
}

.grid.four {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 30px;
}

.grid.five {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grid.medium {
  grid-template-columns: 1000px;
  justify-content: center;
}

.grid.mediumspot {
  grid-template-columns: 1000px;
  justify-content: center;
  margin: 0px 40px;
}

.grid.large {
  padding: 30px 50px;
}

.grid.middle {
  align-content: center;
}

.grid.tall {
  height: 100vh;
}

.grid.image {
  background-image: url("https://images.pexels.com/photos/1779746/pexels-photo-1779746.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-attachment: fixed;
  overflow-y: scroll;
}

.grid.image2 {
  background-image: url("https://images.pexels.com/photos/1779746/pexels-photo-1779746.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  opacity: 0.5;
}

.grid.spots {
  height: 100vh;
  align-items: start;
}

/* .grid.full {
  height: 100vh;
  padding: 30px;
} */

.details {
  padding: 30px 30px 60px 30px;
  margin-bottom: 30px;
}

.details li {
  list-style: none;
  margin-bottom: 10px;
}

.details li i {
  margin-right: 10px;
}
/*
.grid.image > .card {
	background: white;
	border: none;
}

ul.grid {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

ul.grid.two {
	grid-row-gap: 0;
}

.grid + h2 {
	margin-top: 50px;
} */
