i {
	color: #a2a2a2;
}

.fa-heart.fas {
	color: tomato;
}

.fa-globe-africa.fas {
	color: white;
}

.fa-globe-americas.fas {
	color: #00988f;
}

.fa-smile-beam.fas {
	color: #00988f;
}

.fa-star,
.fa-map-marker-alt {
	color: #00988f;
}

small i + span {
	margin-left: 10px;
}
