.landing {
	border-radius: 3px;
	background-color: #effcef;
	width: 50vw;
	padding: 20px;
}

.search {
	border: none;
	font-size: 19px;
	width: calc(50vw - 10px);
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;
}

.image {
	background-image: url('https://images.pexels.com/photos/1779746/pexels-photo-1779746.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow-y: scroll;
}

.dropdown {
	background: white;
	box-shadow: rgba(0, 0, 0, 0.6);
	display: none;
}

.dropdown .option {
	padding: 20px;
	border-top: 1px lightGrey solid;
	display: none;
}

.dropdown .option:hover {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.dropdown.open {
	display: block;
}

.dropdown.open .option {
	display: block;
}
.landing .font {
	font-family: 'EB Garamond', serif;
	padding: 10px;
	font-size: 40px;
}
