/* top main photo */
.bg-img {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-image: url('https://images.pexels.com/photos/2505705/pexels-photo-2505705.jpeg');
	/* background-image: url('https://images.pexels.com/photos/3551355/pexels-photo-3551355.jpeg'); */
	/* background-image: url('https://i.pinimg.com/1200x/37/5e/00/375e00f56d6a173f69d0dc108f1564e4.jpg'); */
	opacity: 0.8;
	min-height: 380px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

/* second img */
.bg-img2 {
	width: 100vw;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
	background-image: url('https://i.pinimg.com/1200x/37/5e/00/375e00f56d6a173f69d0dc108f1564e4.jpg');
	/* background-image: url('https://images.pexels.com/photos/2505705/pexels-photo-2505705.jpeg'); */
	min-height: 380px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

/* text on header images */
.center-img {
	position: absolute;
	/* margin: 50px 50px 1px 50px; */
	padding: 230px;
	z-index: 5px;
	background-position: center;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}

/* center box around content */
.center-box {
	box-sizing: border-box;
	background-color: black;
	border-radius: 8px;
	margin: 0px;
	padding: 82px;
	opacity: 70%;
}

/* search bar landing page */

.center-search {
	display: inline-flex;
	flex: 1 1 300px;
	position: relative;
	border: 1px solid;
	border-radius: 5px;
	overflow: hidden;
	width: 300px;
}

.searchIcon {
	padding: 0.5rem;
	background-color: white;
	color: #ccc;
	background-position: center;
}

.center-searchBox {
	border: 0;
	padding: 0.5rem 0.5rem 0.5rem 0;
	flex: 1;
}

/* end search bar */

/* .landing {
	border-radius: 3px;
	background-color: #effcef;
	width: 50vw;
	padding: 20px;
}

.search {
	border: none;
	font-size: 19px;
	width: calc(50vw - 10px);
	box-sizing: border-box;
	padding: 10px;
	margin: 10px;
}

.image {
	background-image: url('https://images.pexels.com/photos/1779746/pexels-photo-1779746.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow-y: scroll;
}

.dropdown {
	background: white;
	box-shadow: rgba(0, 0, 0, 0.6);
	display: none;
}

.dropdown .option {
	padding: 20px;
	border-top: 1px lightGrey solid;
	display: none;
}

.dropdown .option:hover {
	background: rgba(0, 0, 0, 0.1);
	cursor: pointer;
}

.dropdown.open {
	display: block;
}

.dropdown.open .option {
	display: block;
}
.landing .font {
	font-family: 'EB Garamond', serif;
	padding: 10px;
	font-size: 40px;
} */
