.loginform {
	height: auto;
	width: 400px;
	border-radius: 3px;
	padding: 15px 20px;
	background-color: #effcef;
}

.loginsignupform {
	width: 400px;
	height: 800px;
	border-radius: 3px;
	padding: 20px;
	background-color: #effcef;
}
.loginheader {
	text-align: center;
	font-family: 'EB Garamond', serif;
	font-size: 50px;
	padding-bottom: 10px;
}

.createheader {
	text-align: center;
	font-family: 'EB Garamond', serif;
	font-size: 40px;
}

.loginfonttitle {
	font-family: 'Cormorant Garamond', serif;
	font-size: 20px;
}

.logininfontalert {
	font-family: 'EB Garamond', serif;
	font-size: 20px;
	color: #972822;
	font-style: italic;
	margin: 0px;
}
