/* positions the navbar inside bg-img */
/* .nav-container {
	position: absolute;
	margin: 20px;
} */

/* landing page nav bar hereeeeeeeee */
.topnav {
	overflow: hidden;
	float: right;
	padding: 0;
	margin: 0;
}

.topnav a {
	float: left;
	color: white;
	/* padding: 14px 16px; */
	text-decoration: none;
	font-size: 25px;
	display: inline-flex;
	overflow: hidden;
	text-decoration: none;
}

/* all on hover */
.topnav a:hover {
	border-style: solid;
}

.join a:hover {
	text-transform: capitalize;
}
/* landing page nav bar endsssssssssss */

/* general nav bar on other pages */

/* nav {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 50px;
	display: grid;
	grid-template-columns: 60px auto;
	grid-column-gap: 10px;
	border-bottom: 1px solid #e2e2e2;
	height: 40px;
}

nav .height {
	height: 40px;
}

nav .logo {
	width: 100%;
	height: 40px;
	background-size: 90% auto;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

nav .profile {
	text-align: right;
}

nav .profile a {
	border-radius: 3px;
	font-size: 13px;
	height: 50px;
	padding: 5px 10px;
	display: inline-block;
	text-decoration: none;
}

nav .profile .avatar {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

nav .profile a span {
	vertical-align: right;
} */
