.left-margin {
  margin: 10vh 5vw;
}

.spot-right {
  margin: 10vh 5vw;
}

.spot-title {
  font-family: "Nunito", serif;
  color: #fff;
  font-size: 100px;
  /* letter-spacing: "15px"; */
  line-height: 130px;
  margin: 10vh 5vw;
}

.spot-description {
  font-family: "Nunito", serif;
  color: #fff;
  font-size: 20px;
  line-height: 10vh;
  letter-spacing: 0.3rem;
}

.description {
  font-size: 20px;
  font-family: "Jost", serif;
  padding-top: 10px;
}

.locationfont {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.type-font {
  font-family: "Jost", serif;
  font-size: 20px;
  padding-top: 10px 10px 0px 10px;
}

.eatinfont {
  font-family: "EB Garamond", serif;
  font-size: 30px;
  padding: 10px 0px;
}

.paddingleftten {
  padding-left: 10px;
}

.minitwogrid {
  grid-template-columns: 1fr 4fr;
}
.amenityfont {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  padding-top: 2px;
}

.amenityfontbold {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  padding-top: 2px;
  font-weight: bold;
  color: grey;
}

.spottedbyfont {
  font-family: "EB Garamond", serif;
  font-size: 20px;
  padding-top: 2px;
}

.spotheading {
  height: auto;
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
}
