.background {
	background-image: -webkit-linear-gradient(130deg, #ccedd2 50%, #94d3ac 50%);
	height: 100vh;
	overflow-y: scroll;
	align-content: center;
}

.createbackground {
	display: grid;
	background-image: -webkit-linear-gradient(130deg, #ccedd2 50%, #94d3ac 50%);
	overflow-y: scroll;
	align-content: center;
}

.centerforms {
	padding-left: 200px;
	justify-content: center;
}

.center {
	justify-content: center;
}

.grid {
	display: grid;
}

.spotsbackgroundimage {
	background-image: url('https://images.pexels.com/photos/1779746/pexels-photo-1779746.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	justify-content: center;
	overflow-y: scroll;
	align-content: center;
}

.grid {
	display: grid;
}
