.background {
	display: grid;
	background-image: -webkit-linear-gradient(130deg, #d1eecc 50%, #94d3ac 50%);
	/* background: linear-gradient(to left top, #d1eecc, #94d3ac); */
	/* background-color: #d1eecc; */
	height: 100vh;
	justify-content: center;
	overflow-y: scroll;
	align-content: center;
	padding-left: 200px;
}

.spotsbackgroundimage {
	background-image: url('https://images.pexels.com/photos/1779746/pexels-photo-1779746.jpeg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	justify-content: center;
	overflow-y: scroll;
	align-content: center;
}

.grid {
	display: grid;
}
