.user {
	text-align: left;
	font-size: 18px;
	cursor: pointer;
}

.user .avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.user small {
	display: block;
	font-size: 12px;
	margin: 5px 0 1px 0;
	color: #969696;
}

.user.padding {
	padding: 0px 10px 10px 10px;
}

small + .user {
	margin-top: 30px;
	margin-left: 0px;
}

.user + .card {
	margin-top: 30px;
}

.user margin {
	margin: 10px;
}
